@use '../utilities' as *;

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#blob{
    background: $cursorBlob;
    height: 40%;
    aspect-ratio: 1/1.25;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -100;
    filter: blur(60px);
    opacity: 0.5;
    animation: rotate 15s infinite;

    @media (hover: none){
        display: none;
        opacity: 0;
    }
}