@use '../utilities' as *;

.container{
    @include flex(center, flex-start, column);
    gap: 1.5rem;
    background: $cardBG;
    border-radius: 1rem;
    max-width: 22.5rem;
    padding: 1.5rem;
    
    .nft{
        overflow: hidden;
        border-radius: 0.5rem;
        position: relative;
        cursor: pointer;
        user-select: none;

        &_filter{
            width: 100%;
            height: 100%;
            background: $cyan;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all 0.5s;
        }

        #eye{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.5s;
        }

        &:hover #eye{
            opacity: 1;
        }

        &:hover .nft_filter{
            opacity: 0.5;
        }
    }
}

.info_section{
    border-bottom: 1px solid $veryDarkBlue;
    padding-bottom: 1.25rem;
}

.author_section{
    margin-top: -0.3rem;

    #avatar{
        width: 2rem;
        margin-right: 0.5rem;
        border: 1px solid $white;
        border-radius: 50%;
    }
}