@use '../utilities' as *;

.container{
    @include flex(center, flex-start, column);
    gap: 1.5rem;
    background: $cardBG;
    border-radius: 1rem;
    max-width: 22.5rem;
    padding: 1.5rem;
    
    #nft{
        border-radius: 0.5rem;
    }
}

.info_section{
    border-bottom: 1px solid $veryDarkBlue;
    padding-bottom: 1.25rem;
}

.author_section{
    margin-top: -0.3rem;

    #avatar{
        width: 2rem;
        margin-right: 0.5rem;
        border: 1px solid $white;
        border-radius: 50%;
    }
}